{% extends 'layout_adminitrator.html' %}
{% load  static %}
{% load  app_filters %}
{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div>
         <a href="{% url 'DetailEquipe' id %}">
            <i class="fa fa-arrow-circle-left fa-2x"></i> <span style="position: relative;top: -5px">Retour</span>
        </a>
        <h3 class="pull-right"  style="padding:0;margin: 0"><img src="/media/{{ equipe.profil.image.serverName }}" class="img img-circle" width="40" height="40"> {{ equipe.libelle }}</h3>

    </div>
       <div class="row">
        <div class="col-lg-12">
            <div>
                <h3 class="" style="text-decoration: underline">Nouveau Joueur</h3>
            </div>
            <form method="post" class="col-md-6 col-md-offset-2" style="margin-top: 15px;padding: 10px;border:  solid 1px;min-height: 400px" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="nom">NOM</label>
                    <input value="{{ nom }}" type="text" class="form-control" name="nom" id="nom">
                    <span class="text-danger">{{ errors.0 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="prenom">PRENOM</label>
                    <input value="{{ prenom }}" type="text" class="form-control" name="prenom" id="prenom">
                     <span class="text-danger">{{ errors.1 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="numero">NUMERO</label>
                    <input value="{{ numero }}" type="number" class="form-control" name="numero" id="numero">
                     <span class="text-danger">{{ errors.3 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="numero">POSTE</label>
                    <input value="{{ poste }}" type="text" class="form-control" name="poste" id="poste">
                     <span class="text-danger">{{ errors.4 }}</span>
                </div>
                  <div class="form-group col-md-8  col-md-offset-2">
                     <input class="" type="checkbox" id="titulaire" name="titulaire" value="1" {% if  titulaire == 1%}checked{% endif %}>
                     <label for="titulaire">Titulaire</label><br>
                    <span class="text-danger">{{ errors.5 }}</span>
                 </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="image">PHOTO</label>
                    <input type="file" class="form-control" name="image" id="image">
                     <span class="text-danger">{{ errors.2 }}</span>
                </div>
                 <div class="form-group col-md-8  col-md-offset-2">
                     <input class="" type="checkbox" id="checkbox" name="checkbox" value="1">
                     <label for="checkbox">Enregistrer et creer</label>
                 </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <input type="submit" class="btn btn-primary col-md-12" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/js/notify.min.js'%}"></script>
<script>

    $(function () {
        {% if request.session|get_item:"message" %}
             $.notify("{{ request.session|get_item:"message" }}","success");
            {% with request.session|updateValue:"message" as tmpRu  %}

            {% endwith %}
        {% endif %}
    });

</script>
{% endblock %}