{% extends 'layout_adminitrator.html' %}
{% load  app_filters %}
{% load  static %}
{% load  app_filters %}

{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row" style="margin-top: 15px">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="panel panel-default with-nav-tabs">
                            <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#match" data-toggle="tab"> Match</a></li>
                                    <li class=""><a href="#classement" data-toggle="tab"> Classement </a></li>
                                </ul>
                            </div>

                            <div class="panel-body" style="padding: 0;margin: 0">
                                <div class="tab-content col-md-12" style="padding: 2px;margin: 0">
                                     <div class="tab-pane fade in active " id="match">
                                         <div class="table-responsive">
                                            <table class="table table-responsive  table-bordered table-hover" id="dataTables-example">
                                                <thead>
                                                    <tr >
                                                        <th width="10%">Date</th>
                                                        <th width="15%">HOME</th>
                                                        <th width="15%">VISITOR</th>
                                                        <th width="15%">ARBITRE PRIN</th>
                                                        <th width="15%">ARBITRE T1</th>
                                                        <th width="15%">ARBITRE T2</th>
                                                        <th width="15%"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for match in matchs %}
                                                    <tr >
                                                        <td style="padding-top: 25px">
                                                            <p class="text-center" style="margin:0">{{ match.dateDebut|date:'d/m/Y' }}</p>
                                                            <p class="text-center" style="margin:0">{{ match.dateDebut|date:'H:i' }} Min</p>
                                                            {% if match.dateFin != Null %}
                                                                <p class="text-center text-danger" style="margin:0">Terminé</p>
                                                            {% endif %}

                                                        </td>
                                                        <td >
                                                            <p class="text-center">{{ match.homeTeam.libelle }}</p>
                                                            <p class="text-center"><img src="/media/{{ match.homeTeam.profil.image.serverName }}" class="img img-circle" width="60" height="50"></p>
                                                            {% if match.dateFin != Null %}
                                                                <p class="text-right"> {{ match|GetNbrButForMatch:match.homeTeam }}</p>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <p class="text-center">{{ match.visitTeam.libelle }}</p>
                                                            <p class="text-center"><img src="/media/{{ match.visitTeam.profil.image.serverName }}" class="img img-circle" width="60" height="50"></p>
                                                            {% if match.dateFin != Null %}
                                                                <p class="text-left"> {{ match|GetNbrButForMatch:match.visitTeam }}</p>
                                                            {% endif %}
                                                        </td>
                                                        <td style="padding-top: 25px" class="text-center">
                                                            <select id="arbitre_prin_{{ match.id }}" class="form-control">
                                                                <option value="0">Choisir</option>
                                                                {% for arbitre in arbitres %}
                                                                    <option value="{{ arbitre.id }}" {% if match.arbitrePrincipal.id == arbitre.id %} selected {% endif %}>{{ arbitre.nom }} {{ arbitre.prenom }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <span id="error_arbitre_prin_{{ match.id }}" class="text-danger"></span>
                                                        </td>
                                                        <td style="padding-top: 25px" class="text-center">
                                                            <select id="arbitre_touch_{{ match.id }}" class="form-control">
                                                                <option value="0" >Choisir</option>
                                                                {% for arbitre in arbitres %}
                                                                    <option value="{{ arbitre.id }}" {% if match.arbitreTouche1.id == arbitre.id %} selected {% endif %}>{{ arbitre.nom }} {{ arbitre.prenom }}</option>
                                                                {% endfor %}
                                                            </select>
                                                         <span id="error_arbitre_touch_{{ match.id }}" class="text-danger"></span>
                                                        </td>
                                                        <td style="padding-top: 25px" class="text-center">
                                                            <select id="arbitre_touch2_{{ match.id }}" class="form-control">
                                                                <option value="0">Choisir</option>
                                                                {% for arbitre in arbitres %}
                                                                    <option value="{{ arbitre.id }}" {% if match.arbitreTouche2.id == arbitre.id %} selected {% endif %}>{{ arbitre.nom }} {{ arbitre.prenom }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        <span id="error_arbitre_touch2_{{ match.id }}" class="text-danger"></span>
                                                        </td>
                                                        <td style="padding-top: 25px" class="text-center">
                                                            {% if match.dateFin == Null %}
                                                                <button id="{{ match.id }}" title="démarrer" href="" class="btn btn-primary btnDemarrer" data-loading-text="<i class='fa fa-spinner fa-spin '></i> En cours ...">Démarrer</button>
                                                            {% else %}
                                                                <button id="{{ match.id }}" title="Rapport" href="" class="btn btn-success btnRapport" data-loading-text="<i class='fa fa-spinner fa-spin '></i> En cours ...">Rapport</button>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                     </div>
                                    <div class="tab-pane fade in " id="classement">
                                        <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Equipes</th>
                                            <th>Point</th>
                                            <th>But Marqué</th>
                                            <th>But Encaissé</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for classement in listeClassement %}
                                        <tr class="odd gradeX">
                                            <td>{{ classement.equipe.libelle }}</td>
                                            <td>{{ classement.point}}</td>
                                            <td>{{ classement.nbrButMarque}}</td>
                                            <td class="center">{{ classement.nbrButEncais}}</td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                                     </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
<!-- modal cloturer saison-->
    <div class="modal fade" id="modalCloturer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <br>
                </div>
                <div class="modal-body">
                    <p class="text-center">Êtes vous certain de vouloir continuer cette action?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <a href="" type="button" id="btnValiderCloture" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Oui</a>
                </div>
            </div>
        </div>
    </div>
<!--end modal cloturer saison-->
{% endblock %}
{% block js %}
     <script src="{% static 'assets/js/notify.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap.js' %}"></script>
<script>
    $(function () {
        $('#dataTables-example').dataTable();
        $(".btnDemarrer").click(function (e) {
            $this=$(this);
            id=$this.prop('id');
            currentArbitre=$("#arbitre_prin_"+id).val();
            currentArbitreTouch=$("#arbitre_touch_"+id).val();
            currentArbitreTouch2=$("#arbitre_touch2_"+id).val();
            $("#error_arbitre_prin_"+id).text("");
            $("#error_arbitre_touch_"+id).text("");
            $("#error_arbitre_touch2_"+id).text("");

             isError=0
            if(currentArbitre==0)
            {
                $("#error_arbitre_prin_"+id).text("Veuiller remplir ce champs");
                isError++;
            }
            if(currentArbitreTouch==0)
            {
                $("#error_arbitre_touch_"+id).text("Veuiller remplir ce champs");
                isError++;
            }
            if(currentArbitreTouch2==0)
            {
                $("#error_arbitre_touch2_"+id).text("Veuiller remplir ce champs");
                isError++;
            }
            if(isError!=0)
            {
                e.preventDefault();
            }
            else
            {
                $this=$(this);
                $this.button('loading');
                 var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url :"/admin/demarrer-match/"+id,
                    type : "POST",
                    beforeSend: function(xhr){xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                    data:{"arbitrePrincipal":currentArbitre,"arbitreTouch1":currentArbitreTouch,"arbitreTouch2":currentArbitreTouch2},
                    success : function(json)
                    {
                        console.log(json);
                        $this.button('reset');
                        location.href="/admin/suivre-match/"+id
                    },
                    error :function(xhr,errmsg,err)
                    {
                        console.log(xhr);
                        $this.button('reset');
                    }
                });
            }


        });
        $(".btnSupprimer").click(function (e) {
            e.preventDefault();
             $this=$(this);
            $("#btnValiderCloture").prop('href',$this.prop('href'));
            $("#modalCloturer").modal("toggle");
        });

        {% if request.session|get_item:"message" %}
             $.notify("{{ request.session|get_item:"message" }}","success");
            {% with request.session|updateValue:"message" as tmpRu  %}
            {% endwith %}
        {% endif %}

        $("#btnValiderCloture").click(function () {
            $this=$(this);
            $this.button('loading');
            $.ajax({
                url :"{% url 'cloturerSaison' %}",
                type : "GET",
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#modalCloturer").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#modalCloturer").modal("toggle");
                }
            });

        });
        $("#btnCloturerSaison").click(function () {
            $("#modalCloturer").modal("toggle");
        });
        $("#btnStartSaison").click(function () {
            $("#myModal").modal("toggle");
        });
        $("#btnValider").click(function () {
            $this=$(this);
            $dateFin=$("#dateFin").val();
            $dateDebut=$("#dateDebut").val();
            $comment=$("#comment").val();
            isError=0;
            $("#errorDateFin").text("");
            $("#errorDateDebut").text("");
            if($dateFin=="")
            {
               isError++;
               $("#errorDateFin").text("Veuiller remplir ce champs");
            }
            if($dateDebut=="")
            {
               isError++;
               $("#errorDateDebut").text("Veuiller remplir ce champs");
            }
            if(isError!=0)
            {
                return 0;
            }
            $this.button('loading');

            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url :"{% url 'newSaison' %}",
                type : "POST",
                 beforeSend: function(xhr){xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                data:{"dateDebut":$dateDebut,"dateFin":$dateFin,"comment":$comment},
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#myModal").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#myModal").modal("toggle");
                }
            });

        });
    });
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
</script>
{% endblock %}