{% extends 'layout_adminitrator.html' %}
{% load  app_filters %}
{% load  static %}
{% load  app_filters %}

{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/flipclock/css/flipclock.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row" style="margin-top: 15px">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="panel panel-default">
                            <div class="panel-heading">
                                <button class="btn btn-success" id="btnDemarrer">Démarrer</button>
                                <button class="btn btn-primary" id="btnMiTemps" disabled>Mi-Temps</button>
                                <button class="btn btn-warning" id="btnFaitMarquant" disabled>Fait-Marquant</button>
                                <button class="btn btn-danger" id="btnTerminer" disabled>Terminer</button>
                                <button title="imprimer " class="btn btn-primary pull-right" id="btnPrint" disabled><i class="fa fa-print"></i></button>

                            </div>
                            <h3 class="text-center" style="margin: 0;margin-bottom: 8px">SCORE</h3>
                            <div class="row">
                                <div class="col-md-6" style="margin: 0">
                                     <div class="clock pull-left" style="position: absolute;top: -20px"></div>
                                    <span class="pull-right" style="margin-left: 10px;margin-top: 13px;font-weight: bold;font-size: 1.3em" id="nbrButHome">{{ nbrButHome }}</span>
                                    <div class="pull-right">
                                        <button href="" class="btn btn-success" id="btnScoreUpHome" disabled><i class="fa fa-plus-circle fa-2x"></i></button><br>
                                        <!--button href="" class="btn btn-danger" id="btnScoreDownHome"><i class="fa fa-minus-circle fa-2x"></i></button-->
                                    </div>

                                </div>
                                <div class="col-md-6" style="margin: 0">
                                    <span class="pull-left" style="margin-right: 10px;margin-top: 13px;font-weight: bold;font-size: 1.3em" id="nbrButVisit">{{ nbrButVisit }}</span>
                                    <div class="pull-left">
                                        <button href="" class="btn btn-success" id="btnScoreUpVisit" disabled><i class="fa fa-plus-circle fa-2x"></i></button><br>
                                        <!--button href="" class="btn btn-danger" id="btnScoreDownVisit"><i class="fa fa-minus-circle fa-2x"></i></button-->
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" style="margin-top: 15px">
                                <div class="col-md-6" style="padding: 8px">
                                    <div style="border: solid 1px blue">
                                    <button class="btn btn-primary pull-right" id="btnChangementHome"><i class="fa fa-arrows-h"></i></button>
                                        <p class="text-center">
                                            <img src="/media/{{ match.homeTeam.profil.image.serverName }}" class="img img-circle" width="60" height="50">
                                        </p>

                                        <h3 class="text-center" style="margin-top: 0">
                                            {{ match.homeTeam.libelle }}
                                        </h3>
                                        <h4>Liste joueurs</h4>
                                        <table class="table">
                                        <thead>
                                            <tr>
                                                <th >Joueur</th>
                                                <th>Numero</th>
                                                <th>But</th>
                                                <th>Carton</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                            {% for joueur in match.homeTeam.joueur_set.all %}

                                                    <tr id="joueur_{{ joueur.id }}" class="{% if joueur.estTitulaire != 1 %}{% if joueur|hasChange:match.id == False %}hidden{% endif %}{% endif %}">
                                                        <td>
                                                            {{ joueur.numero }}
                                                            <img src="/media/{{ joueur.profil.serverName }}" class="img img-circle" width="50" height="50">
                                                            {{ joueur.nom }} {{ joueur.prenom }}
                                                            <span id="chang_{{ joueur.id }}">
                                                                {% if joueur.estTitulaire == 1 %}
                                                                    {% if joueur|isChange:match.id %}
                                                                        <i class="fa fa-arrow-circle-o-down text-danger"></i>
                                                                    {% endif %}
                                                                    {% else %}
                                                                        {% if joueur|hasChange:match.id %}
                                                                            <i class="fa fa-arrow-circle-o-up text-success"></i>
                                                                        {% endif %}
                                                                {% endif %}
                                                            </span>
                                                        </td>
                                                        <td style="padding-top: 25px" >{{ joueur.numero }}</td>
                                                        <td style="padding-top: 25px" id="but_{{ joueur.id }}" >{{ joueur|getNbrBut:match.id }}</td>
                                                        <td style="padding-top: 25px" id="carton_{{ joueur.id }}">0</td>
                                                    </tr>

                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6" style="padding: 5px">
                                    <div style="border: solid 1px blue">
                                        <button class="btn btn-primary pull-right" id="btnChangementVisit"><i class="fa fa-arrows-h"></i></button>
                                        <p class="text-center">
                                            <img src="/media/{{ match.visitTeam.profil.image.serverName }}" class="img img-circle" width="60" height="50">
                                        </p>
                                        <h3 class="text-center" style="margin-top: 0">
                                            {{ match.visitTeam.libelle }}
                                        </h3>
                                        <h4>Liste joueurs</h4>
                                        <table class="table">
                                        <thead>
                                            <tr>
                                                <th >Joueur</th>
                                                <th>Numero</th>
                                                <th>But</th>
                                                <th>Carton</th>
                                            </tr>
                                        </thead>
                                            <tbody>
                                            {% for joueur in match.visitTeam.joueur_set.all %}

                                                    <tr id="joueur_{{ joueur.id }}" class="{% if joueur.estTitulaire != 1 %}{% if joueur|hasChange:match.id == False %}hidden{% endif %}{% endif %}">
                                                        <td>
                                                            {{ joueur.numero }}
                                                            <img src="/media/{{ joueur.profil.serverName }}" class="img img-circle" width="50" height="50">
                                                            {{ joueur.nom }} {{ joueur.prenom }}
                                                            <span id="chang_{{ joueur.id }}">
                                                                {% if joueur.estTitulaire == 1 %}
                                                                    {% if joueur|isChange:match.id %}
                                                                        <i class="fa fa-arrow-circle-o-down text-danger"></i>
                                                                    {% endif %}
                                                                    {% else %}
                                                                        {% if joueur|hasChange:match.id %}
                                                                            <i class="fa fa-arrow-circle-o-up text-success"></i>
                                                                        {% endif %}
                                                                {% endif %}
                                                            </span>
                                                        </td>
                                                        <td style="padding-top: 25px" >{{ joueur.numero }}</td>
                                                        <td style="padding-top: 25px" id="but_{{ joueur.id }}" >{{ joueur|getNbrBut:match.id }}</td>
                                                        <td style="padding-top: 25px" id="carton_{{ joueur.id }}">0</td>
                                                    </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                </div>
            </div>
        </div>
    </div>
<!-- modal cloturer saison-->
    <div class="modal fade" id="modalQuestion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <br>
                </div>
                <div class="modal-body">
                    <p class="text-center">Êtes vous certain de vouloir continuer cette action?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <button type="button" id="btnConfirmation" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <br>
                </div>
                <div class="modal-body">
                    <div class="row" >
                        <div class="form-group col-md-8 col-md-offset-2" >
                            <label>Joueur</label>
                            <select id="teamHome" class="form-control">
                                <option value="0">Choisir le marqueur</option>
                                {% for joueur in match.homeTeam.joueur_set.all %}
                                    <option class="{% if joueur.estTitulaire != 1 %}{% if joueur|hasChange:match.id == False %}hidden{% endif %}{% endif %}" id="joueurBut_{{ joueur.id }}" value="{{ joueur.id }}">{{ joueur.nom }} {{ joueur.prenom }}</option>
                                {% endfor %}
                            </select>
                            <select id="teamVisit" class="form-control">
                                <option value="0">Choisir le marqueur</option>
                                {% for joueur in match.visitTeam.joueur_set.all %}
                                    <option class="{% if joueur.estTitulaire != 1 %}{% if joueur|hasChange:match.id == False %}hidden{% endif %}{% endif %}" id="joueurBut_{{ joueur.id }}" value="{{ joueur.id }}">{{ joueur.nom }} {{ joueur.prenom }}</option>
                                {% endfor %}
                            </select>
                        <span class="text-danger" id="txtErroeJoueur"></span><br>

                             <input class="" type="checkbox" id="contreSonCamp" name="contreSonCamp" value="1">
                             <label for="contreSonCamp">But contre son camps</label>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="btnValiderBut" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Valider</button>
                </div>
            </div>
        </div>
    </div>
     <div class="modal fade" id="modalListeJoueur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <h3 style="color: white">Changement</h3>
                </div>
                <div class="modal-body">
                    <div class="row" >
                        <div class="form-group col-md-8 col-md-offset-2" id="blocTeamHome">
                                <label for="">Joueur Sortant</label>
                                <select id="homeChangeSortant" class="form-control">
                                    <option value="0">Choisir un joueur</option>
                                    {% for joueur in match.homeTeam.getJoueursTitulaires %}
                                        <option id="sortant_{{ joueur.id }}" value="{{ joueur.id }}" class="{% if joueur|isChange:match.id %}hidden{% endif %}">{{ joueur.nom }} {{ joueur.prenom }}</option>
                                    {% endfor %}
                                </select>
                                <span class="text-danger txtErroeJoueurSortant" ></span><br>
                                <label for="">Joueur Rentrant</label>
                                <select  id="homeChangeEntrant" class="form-control">
                                    <option value="0">Choisir un joueur</option>
                                    {% for joueur in match.homeTeam.getJoueursNonTitulaires %}
                                        <option  id="entrant_{{ joueur.id }}" value="{{ joueur.id }}" class="{% if joueur|hasChange:match.id %}hidden{% endif %}">{{ joueur.nom }} {{ joueur.prenom }}</option>
                                    {% endfor %}
                                </select>
                                <span class="text-danger  txtErroeJoueurEntrant" ></span>
                        </div>
                        <div class="form-group col-md-8 col-md-offset-2" id="blocTeamVisit">
                                    <label for="">Joueur Sortant</label>
                                    <select id="visitChangeSortant" class="form-control">
                                        <option value="0">Choisir un joueur</option>
                                        {% for joueur in match.visitTeam.getJoueursTitulaires %}
                                            <option id="sortant_{{ joueur.id }}" value="{{ joueur.id }}" class="{% if joueur|isChange:match.id %}hidden{% endif %}">{{ joueur.nom }} {{ joueur.prenom }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="text-danger txtErroeJoueurSortant" ></span><br>
                                    <label for="">Joueur Rentrant</label>
                                    <select  id="visitChangeEntrant" class="form-control">
                                        <option value="0">Choisir un joueur</option>
                                        {% for joueur in match.visitTeam.getJoueursNonTitulaires %}
                                            <option  id="entrant_{{ joueur.id }}" value="{{ joueur.id }}" class="{% if joueur|hasChange:match.id %}hidden{% endif %}">{{ joueur.nom }} {{ joueur.prenom }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="text-danger  txtErroeJoueurEntrant" ></span>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="btnValiderChangement" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Valider</button>
                </div>
            </div>
        </div>
    </div>


<!--end modal cloturer saison-->
{% endblock %}
{% block js %}
     <script src="{% static 'assets/js/notify.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'assets/flipclock/js/flipclock.min.js' %}"></script>
<script>
 var clock =null;
 var isMitemps=0;
 var isVisitOrHomeBut=0;
 var method=0;
 var miTempsOrCloturer=0;
 var changeTeam=0;
 var idMatch=parseInt("{{ match.id }}");
    $(function () {
        //$('#dataTables-example').dataTable();
        //$("#modalListeJoueur").modal("toggle");
        clock = $('.clock').FlipClock({
		        clockFace: 'MinuteCounter'
		    });
        clock.setTime(parseInt("{{ initMin }}"));
        clock.stop();
        $("#btnFaitMarquant").click(function () {
            alert("good");
        });
        $("#btnValiderChangement").click(function () {
            sortant=null;
            entrant=null;
            isError=0;
            $(".txtErroeJoueurSortant").text("");
            $(".txtErroeJoueurEntrant").text("");
            if(changeTeam==1)
            {
               sortant=$("#homeChangeSortant").val();
               entrant=$("#homeChangeEntrant").val();
            }
            else
            {
                sortant=$("#visitChangeSortant").val();
               entrant=$("#visitChangeEntrant").val();
            }
            if(sortant==0)
            {
                isError++;
                $(".txtErroeJoueurSortant").text("Veuiller sélectionner un joueur");
            }
            if(entrant==0)
            {
                isError++;
                $(".txtErroeJoueurEntrant").text("Veuiller sélectionner un joueur");
            }
            if(isError!=0)
            {
                return 0;
            }
            url="/admin/changement/"+idMatch+"/"+sortant+"/"+entrant;
            $.ajax({
                url :url,
                type : "GET",
                success : function(json)
                {
                    console.log(json);
                    $("#modalListeJoueur").modal("toggle");
                    $("#joueur_"+entrant).removeClass('hidden');
                    $("#chang_"+entrant).html(' <i class="fa fa-arrow-circle-o-up text-success"></i>');
                    $("#chang_"+sortant).html(' <i class="fa fa-arrow-circle-o-down text-danger"></i>');
                    $("#joueurBut_"+entrant).removeClass('hidden');
                    $("#entrant_"+entrant).addClass('hidden');
                    $("#sortant_"+sortant).addClass('hidden');
                     $.notify("Changement éffectué avec succès!","success");
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $("#modalListeJoueur").modal("toggle");
                }
            });
        });
        $("#btnChangementVisit").click(function () {
            changeTeam=2;
            $("#blocTeamHome").addClass('hidden');
            $("#blocTeamVisit").removeClass('hidden');
            $(".txtErroeJoueurSortant").text("");
            $(".txtErroeJoueurEntrant").text("");
            $("#modalListeJoueur").modal("toggle");

        });
        $("#btnChangementHome").click(function () {
            changeTeam=1;
            $("#blocTeamVisit").addClass('hidden');
            $("#blocTeamHome").removeClass('hidden');
            $(".txtErroeJoueurSortant").text("");
            $(".txtErroeJoueurEntrant").text("");
            $("#modalListeJoueur").modal("toggle");

        });
        $("#btnConfirmation").click(function () {
            clock.stop();
            $("#btnDemarrer").prop('disabled','');
            $("#btnDemarrer").text("Reprendre");
            $("#btnMiTemps").prop('disabled','disabled');
            if(miTempsOrCloturer==1)
            {
                url="{% url 'Mitemp' match.id %}";
            }
            else
            {
                url="{% url 'finMatch' match.id %}";
            }
            $.ajax({
                url :url,
                type : "GET",
                success : function(json)
                {
                    console.log(json);
                    $("#modalQuestion").modal("toggle");
                    if(miTempsOrCloturer==2)
                    {
                        clock.stop();
                        $("#btnFaitMarquant").prop('disabled','disabled');
                        $("#btnDemarrer").prop('disabled','disabled');
                        $("#btnMiTemps").prop('disabled','disabled');
                        $("#btnTerminer").prop('disabled','disabled');
                    }
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $("#modalQuestion").modal("toggle");
                }
            });
        });
        $("#btnScoreUpHome").click(function () {
            $("#contreSonCamp").prop('checked','');
            isVisitOrHomeBut=1;
            method=1;
            $("#teamVisit").addClass('hidden');
            $("#teamHome").removeClass('hidden');
            $("#modalBut").modal("toggle");
        });
        $("#btnScoreUpVisit").click(function () {
            $("#contreSonCamp").prop('checked','');
            isVisitOrHomeBut=0;
            method=1;
            $("#teamVisit").removeClass('hidden');
            $("#teamHome").addClass('hidden');
            $("#modalBut").modal("toggle");
        });

        $("#btnValiderBut").click(function () {
            $this=$(this);
            var idJoueur=0;
            var contreSonCamp=0;
            $("#txtErroeJoueur").text("");
            if(isVisitOrHomeBut==1)
            {
               idJoueur=$("#teamHome").val()
            }
            else
            {
                idJoueur=$("#teamVisit").val()
            }
            if(idJoueur==0)
            {
                $("#txtErroeJoueur").text("Veuillez sélectionner un joueur");
                return 0;
            }
            console.log($("#contreSonCamp").prop('checked'));
            if($("#contreSonCamp").prop('checked') == true)
            {
                contreSonCamp=1
            }
             $this.button('loading');
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url :"{% url 'miseAJourBut' %}",
                type : "POST",
                 beforeSend: function(xhr){xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                data:{"idMatch":idMatch,"method":method,"idJoueur":idJoueur,"contreSonCamp":contreSonCamp},
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#modalBut").modal("toggle");
                   nbrButJoeur=parseInt($("#but_"+idJoueur).text());
                   nbrButJoeur++;
                   $("#but_"+idJoueur).text(nbrButJoeur);
                   if(isVisitOrHomeBut==1)
                   {

                       if(contreSonCamp==0)
                       {
                            nbrButEquipe=parseInt($("#nbrButHome").text());
                            nbrButEquipe++;
                           $("#nbrButHome").text(nbrButEquipe);
                       }
                       else
                       {
                            nbrButEquipe=parseInt($("#nbrButVisit").text());
                            nbrButEquipe++;
                           $("#nbrButVisit").text(nbrButEquipe);
                       }
                   }
                   else
                   {
                       if(contreSonCamp==0)
                       {
                           nbrButEquipe=parseInt($("#nbrButVisit").text());
                           nbrButEquipe++;
                           $("#nbrButVisit").text(nbrButEquipe);
                       }
                       else
                       {
                           nbrButEquipe=parseInt($("#nbrButHome").text());
                           nbrButEquipe++;
                           $("#nbrButHome").text(nbrButEquipe);
                       }

                   }
                    $.notify("Mise à jour avec succès!","success");
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#modalBut").modal("toggle");
                }
            });
            //$("#modalBut").modal("toggle");
        });
        $("#btnMiTemps").click(function () {
            if(isMitemps==0)
            {
                miTempsOrCloturer=1;
                $("#modalQuestion").modal("toggle");
            }
            isMitemps=2;
        });
        $("#btnTerminer").click(function () {
            miTempsOrCloturer=2;
            $("#modalQuestion").modal("toggle");
        });
        $("#btnDemarrer").click(function () {

            clock.start();
            $(this).prop('disabled','disabled');
            $("#btnScoreUpHome").prop('disabled','');
            $("#btnScoreUpVisit").prop('disabled','');
            if(isMitemps!=2)
            {
                $("#btnMiTemps").prop('disabled','');
                $("#btnTerminer").prop('disabled','');
                $("#btnFaitMarquant").prop('disabled','');
            }

        });

    });
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
</script>
{% endblock %}