{% extends 'layout_adminitrator.html' %}
{% load  static %}
{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h3 class="" style="text-decoration: underline">Editer Arbitre</h3>
            </div>
            <form method="post" class="col-md-6 col-md-offset-2" style="margin-top: 15px;padding: 10px;border:  solid 1px;min-height: 400px" enctype="multipart/form-data" action="">
                {% csrf_token %}
                 <div class="form-group col-md-8  col-md-offset-2" style="margin-bottom: 0;height: 200px">
                    <p class="text-center"><img id="imageDescript" class="img-circle" src="/media/{{ arbitre.profil.image.serverName }}" width="180" height="180" style="border: solid 1px"></p>
                    <p class="text-center"><a id="btnUpdateImage" style="position: relative;top: -48px;" class="btn btn-primary btn-sm"><i class="fa fa-camera"></i> Modifier</a></p>
                    <input  type="file" class="form-control hidden" id="image" name="image">

               </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="nom">NOM</label>
                    <input value="{{ nom }}" type="text" class="form-control" name="nom" id="nom">
                    <span class="text-danger">{{ errors.0 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="prenom">PRENOM</label>
                    <input value="{{ prenom }}" type="text" class="form-control" name="prenom" id="prenom">
                     <span class="text-danger">{{ errors.1 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <input type="submit" class="btn btn-primary col-md-12" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    $(function () {
         $(function () {
       $("#btnUpdateImage").click(function () {
        $('#image').click();
    });
    $('#image').on('change', function ()
        {
                readFile(this);
        });
    });
    function readFile(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        rawImg = e.target.result;
                        $('#imageDescript').fadeOut();
                        $('#imageDescript').prop('src',rawImg);
                        $('#imageDescript').fadeIn();
                    };
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    swal("Sorry - you're browser doesn't support the FileReader API");
                }
            }
    });

</script>
{% endblock %}