{% extends 'layout_adminitrator.html' %}
{% load  static %}
{% load  app_filters %}
{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-6">
            <div style="">
                <a class="quick-btn" href="{% url 'listeEquipe' %}">
                    <img src="{% static 'admin/img/equipe.png' %}" height="30" width="35">
                    <span> Equipes</span>
                    <span class="label label-danger">{{ equipes.count }}</span>
                </a>

                <a class="quick-btn">
                    <img src="{% static 'admin/img/joueur.png' %}" height="30" width="35">
                    <span>Joueurs</span>
                    <span class="label label-success">{{ joueurs.count }}</span>
                </a>
                <a class="quick-btn" href="{% url 'listeArbitre' %}">
                    <img src="{% static 'admin/img/arbitre.png' %}" height="30" width="35">
                    <span>Arbitres</span>
                    <span class="label label-warning">{{ arbitres.count }}</span>
                </a>

            </div>
            <div class="row container-fluid">
                <div class="col-lg-10">
                       <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 style="padding:0;margin: 0"><i class="icon-bell"></i> Saison courante</h3>
                            </div>

                            <div class="panel-body">
                                {% if currentSaison  %}
                                    <div class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th  class="text-center">Date début</th>
                                                <th  class="text-center">Date Fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">{{ currentSaison.dateDebut |date:"d/m/y" }}</td>
                                                <td  class="text-center">{{ currentSaison.dateFin |date:"d/m/y" }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    </div>

                                {% else %}
                                    <p>Aucune saison en cours</p>
                                    <button  id="btnStartSaison" class="btn btn-default btn-block btn-primary">Démarrer une nouvelle saison</button>
                                {% endif %}

                            </div>

                        </div>
                    </div>

                <h2 class="text-center">Classement</h2>
                <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Equipes</th>
                                            <th>Point</th>
                                            <th>But Marqué</th>
                                            <th>But Encaissé</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for classement in listeClassement %}
                                        <tr class="odd gradeX">
                                            <td>{{ classement.equipe.libelle }}</td>
                                            <td>{{ classement.point}}</td>
                                            <td>{{ classement.nbrButMarque}}</td>
                                            <td class="center">{{ classement.nbrButEncais}}</td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>

                        </div>
            </div>
        </div>
        <div class="col-lg-6 center-block " style="">
               <!--div id="calendar" class="col-lg-12"></div-->
            <table class="table table-responsive  table-bordered table-hover" id="dataTablesMatch">
                                                <thead>
                                                    <tr >
                                                        <th width="10%">Date</th>
                                                        <th width="15%">HOME</th>
                                                        <th width="15%">VISITOR</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for match in matchListe %}
                                                    <tr >
                                                        <td style="padding-top: 25px">
                                                            <p class="text-center" style="margin:0">{{ match.dateDebut|date:'d/m/Y' }}</p>
                                                            <p class="text-center" style="margin:0">{{ match.dateDebut|date:'H:i' }} Min</p>
                                                            {% if match.dateFin != Null %}
                                                                <p class="text-center text-danger" style="margin:0">Terminé</p>
                                                            {% endif %}

                                                        </td>
                                                        <td >
                                                            <p class="text-center">{{ match.homeTeam.libelle }}</p>
                                                            <p class="text-center"><img src="/media/{{ match.homeTeam.profil.image.serverName }}" class="img img-circle" width="60" height="50"> </p>
                                                            {% if match.dateFin != Null %}
                                                                <p class="text-right"> {{ match|GetNbrButForMatch:match.homeTeam }}</p>
                                                            {% endif %}

                                                        </td>
                                                        <td>
                                                            <p class="text-center">{{ match.visitTeam.libelle }}</p>
                                                            <p class="text-center"><img src="/media/{{ match.visitTeam.profil.image.serverName }}" class="img img-circle" width="60" height="50"></p>
                                                            {% if match.dateFin != Null %}
                                                                <p class="text-left"> {{ match|GetNbrButForMatch:match.visitTeam }}</p>
                                                            {% endif %}
                                                        </td>


                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
 <script src="{% static 'assets/js/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
 <script src="{% static 'assets/fullcalendar/dist/fullcalendar.min.js' %}"></script>
   <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/calendarInit.js' %}"></script>

    <script src="{% static 'assets/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap.js' %}"></script>
        <script>
            $(function () {

                //CalendarInit();
                $('#dataTablesMatch').dataTable();
            });
        </script>
{% endblock %}