{% load static %}
<!DOCTYPE html>
<html class="bootstrap-admin-vertical-centered">
    <head>
        <title>Login page | Bootstrap 3.x Admin Theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.css' %}" />
        <!-- Bootstrap Admin Theme -->
        <link rel="stylesheet" href="{% static 'admin/css/bootstrap-admin-theme.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
        <!-- Custom styles -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
           <script type="text/javascript" src="{% static 'admin/js/html5shiv.js' %}"></script>
           <script type="text/javascript" src="{% static 'admin/js/respond.min.js' %}"></script>
        <![endif]-->
    </head>
    <body class="bootstrap-admin-without-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" class="bootstrap-admin-login-form form-signin" style="border: solid #E95420 1px">
                        {% csrf_token %}
                        <p class="text-center" style="margin-bottom: 0"> <i class="fa fa-lock fa-2x" style="color: #E95420"></i></p>
                        <h2 class="text-center" style="margin-top: 0">Se connecter</h2>
                        <div class="form-group">
                            <input class="form-control" type="text" id="username" name="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" id="password" name="password" placeholder="*******">
                            <p  class="text-danger">{{ login_message }}</p>
                        </div>
                        <div class="form-group">
                            <input class="" type="checkbox" id="checkbox" name="checkbox" >
                            <label for="checkbox">souvenir de moi</label>
                        </div>
                        <div class="form-group">

                        </div>
                        <p class="text-right"><button class="btn btn-lg btn-primary" type="submit" >Se connecter</button></p>
                    </form>
                </div>
            </div>
        </div>


        <script type="text/javascript" src="{% static 'js/assets/jquery-1.8.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript">
            $(function() {
                // Setting focus
                $('input[name="email"]').focus();

                // Setting width of the alert box
                var alert = $('.alert');
                var formWidth = $('.bootstrap-admin-login-form').innerWidth();
                var alertPadding = parseInt($('.alert').css('padding'));

                if (isNaN(alertPadding)) {
                    alertPadding = parseInt($(alert).css('padding-left'));
                }

                $('.alert').width(formWidth - 2 * alertPadding);
            });
        </script>
    </body>
</html>







