{% extends 'layout_adminitrator.html' %}
{% load  static %}
{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-4">
                       <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 style="padding:0;margin: 0"><i class="icon-bell"></i> Saison courante</h3>
                            </div>

                            <div class="panel-body">
                                {% if currentSaison  %}
                                    <div class="row">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th  class="text-center">Date début</th>
                                                <th  class="text-center">Date Fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">{{ currentSaison.dateDebut |date:"d/m/y" }}</td>
                                                <td  class="text-center">{{ currentSaison.dateFin |date:"d/m/y" }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        <p class="text-center" style="padding: 5px;">
                                            <button class="btn btn-primary  pull-left" id="btnAddFait">Ajouter un fait</button>
                                            <button class="btn btn-danger pull-right" id="btnCloturerSaison">Cloturer</button>
                                        </p>
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-6"></div>
                                    </div>

                                {% else %}
                                    <p>Aucune saison en cours</p>
                                    <button  id="btnStartSaison" class="btn btn-default btn-block btn-primary">Démarrer une nouvelle saison</button>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-primary ">
                            <div class="panel-heading">
                                <h3 style="padding:0;margin: 0"><i class="icon-bell"></i> Paramètres</h3>
                            </div>

                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                       <td width="50%">Nombre d'équipe</td>
                                       <td>10</td>
                                   </tr>
                                   <tr>
                                       <td >Nombre match de par Journée</td>
                                       <td>2</td>
                                   </tr>

                                </table>
                            </div>

                        </div>
                    </div>

        <div class="col-lg-6 center-block " style="">

        </div>
    </div>
<!-- modal new saison-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;color: white">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Calendrier</h4> </div>
                <div class="modal-body">
                    <div class="row">
                        <form>
                            <div class="form-group col-md-6"> <label for="debut">Date début</label>
                                <input type="date" class="form-control" id="dateDebut">
                                <span id="errorDateDebut" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fin">Date Fin</label>
                                <input type="date" class="form-control" id="dateFin">
                                <span id="errorDateFin" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="comment">Commentaire</label>
                                <textarea class="form-control" id="comment"></textarea>
                                <span class="text-danger"></span>
                            </div> </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="btnValider" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Valider</button>
                </div>
            </div>
        </div>
    </div>
<!--end modal new saison-->
<!-- modal cloturer saison-->
    <div class="modal fade" id="modalCloturer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <br>
                </div>
                <div class="modal-body">
                    <p class="text-center">Êtes vous certain de vouloir continuer cette action?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <button type="button" id="btnValiderCloture" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Oui</button>
                </div>
            </div>
        </div>
    </div>
<!--end modal cloturer saison-->
{% endblock %}
{% block js %}
<script>
    $(function () {
        $("#btnValiderCloture").click(function () {
            $this=$(this);
            $this.button('loading');
            $.ajax({
                url :"{% url 'cloturerSaison' %}",
                type : "GET",
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#modalCloturer").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#modalCloturer").modal("toggle");
                }
            });

        });
        $("#btnCloturerSaison").click(function () {
            $("#modalCloturer").modal("toggle");
        });
        $("#btnStartSaison").click(function () {
            $("#myModal").modal("toggle");
        });
        $("#btnValider").click(function () {
            $this=$(this);
            $dateFin=$("#dateFin").val();
            $dateDebut=$("#dateDebut").val();
            $comment=$("#comment").val();
            isError=0;
            $("#errorDateFin").text("");
            $("#errorDateDebut").text("");
            if($dateFin=="")
            {
               isError++;
               $("#errorDateFin").text("Veuiller remplir ce champs");
            }
            if($dateDebut=="")
            {
               isError++;
               $("#errorDateDebut").text("Veuiller remplir ce champs");
            }
            if(isError!=0)
            {
                return 0;
            }
            $this.button('loading');

            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url :"{% url 'newSaison' %}",
                type : "POST",
                 beforeSend: function(xhr){xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                data:{"dateDebut":$dateDebut,"dateFin":$dateFin,"comment":$comment},
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#myModal").modal("toggle");
                    location.href="{% url 'listeMatch' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#myModal").modal("toggle");
                }
            });

        });
    });
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
</script>
{% endblock %}