{% extends 'layout_adminitrator.html' %}
{% load  static %}
{% load  app_filters %}
{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h3 class="" style="text-decoration: underline">Nouvelle Equipe</h3>
            </div>
            <form method="post" class="col-md-6 col-md-offset-2" style="margin-top: 15px;padding: 10px;border:  solid 1px;min-height: 400px" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="libelle">LIBELLE</label>
                    <input value="{{ libelle }}" type="text" class="form-control" name="libelle" id="libelle">
                    <span class="text-danger">{{ errors.0 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="slogan">SLOGAN</label>
                    <textarea class="form-control" name="slogan" id="slogan">{{ slogan }}</textarea>
                     <span class="text-danger">{{ errors.1 }}</span>
                </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <label for="image">LOGO</label>
                    <input type="file" class="form-control" name="image" id="image">
                     <span class="text-danger">{{ errors.2 }}</span>
                </div>
                 <div class="form-group col-md-8  col-md-offset-2">
                     <input class="" type="checkbox" id="checkbox" name="checkbox" value="1">
                     <label for="checkbox">Enregistrer et creer</label>
                 </div>
                <div class="form-group col-md-8  col-md-offset-2">
                    <input type="submit" class="btn btn-primary col-md-12" value="Enregistrer">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'assets/js/notify.min.js'%}"></script>
<script>

    $(function () {
        {% if request.session|get_item:"message" %}
             $.notify("{{ request.session|get_item:"message" }}","success");
            {% with request.session|updateValue:"message" as tmpRu  %}

            {% endwith %}
        {% endif %}
    });

</script>
{% endblock %}