{% extends 'layout_adminitrator.html' %}
{% load  app_filters %}
{% load  static %}
{% load  app_filters %}

{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}

        <a href="{% url 'listeEquipe' %}">
            <i class="fa fa-arrow-circle-left fa-2x"></i> <span style="position: relative;top: -5px">Retour</span>
        </a>

    <div class="row" style="margin-top: 15px">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 style="padding:0;margin: 0"><img src="/media/{{ equipe.profil.image.serverName }}" class="img img-circle" width="40" height="40"> {{ equipe.libelle }}</h3>
                            </div>

                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td></td>
                                        <td>{{ equipe.slogan }}</td>
                                    </tr>
                                </table>

                            </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 style="padding:0;margin: 0" class="pull-left"> Liste Joueurs </h3>
                                <p class="text-right" ><a title="Ajouter" href="{% url 'nouveauJoueur' equipe.id %}" style="color: white"><i class="fa fa-plus-circle fa-2x"></i></a></p>
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                <table class="table  table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>PHOTO</th>
                                            <th>NOM</th>
                                            <th>PRENOM</th>
                                            <th>NUMERO</th>
                                            <th>POSTE</th>
                                            <th>TIT</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for joueur in equipe.joueur_set.all %}
                                        <tr class="odd gradeX">
                                            <td><img src="/media/{{ joueur.profil.serverName }}" class="img img-circle" width="60" height="65"></td>
                                            <td style="padding-top: 25px" class="text-center">{{ joueur.nom }}</td>
                                            <td style="padding-top: 25px" class="text-center">{{ joueur.prenom }}</td>
                                            <td style="padding-top: 25px" class="text-center">{{ joueur.numero }}</td>
                                            <td style="padding-top: 25px" class="text-center">{{ joueur.poste }}</td>
                                            <td style="padding-top: 25px" class="text-center">
                                                {% if joueur.estTitulaire == 1 %}
                                                     <i class="fa fa-check-circle text-success"></i>
                                                {% else %}
                                                     <i class="fa fa-times text-danger"></i>
                                                {% endif %}


                                            </td>
                                            <td style="padding-top: 25px" class="text-center">
                                                <a title="éditer" href="{% url 'editerJoueur' joueur.id %}"><i class="fa fa-edit"></i></a>
                                                <a class="btnSupprimer" title="supprimer" href="{% url 'supprimerJoueur' joueur.id %}"><i class="fa fa-trash-o text-danger"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}




                                    </tbody>
                                </table>
                            </div>

                            </div>
                </div>
            </div>
        </div>
    </div>
<!-- modal cloturer saison-->
    <div class="modal fade" id="modalCloturer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <br>
                </div>
                <div class="modal-body">
                    <p class="text-center">Êtes vous certain de vouloir continuer cette action?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <a href="" type="button" id="btnValiderCloture" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Oui</a>
                </div>
            </div>
        </div>
    </div>
<!--end modal cloturer saison-->
{% endblock %}
{% block js %}
     <script src="{% static 'assets/js/notify.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap.js' %}"></script>
<script>
    $(function () {
        $('#dataTables-example').dataTable();
        $(".btnSupprimer").click(function (e) {
            e.preventDefault();
             $this=$(this);
            $("#btnValiderCloture").prop('href',$this.prop('href'));
            $("#modalCloturer").modal("toggle");
        });
        {% if request.session|get_item:"message" %}
             $.notify("{{ request.session|get_item:"message" }}","success");
            {% with request.session|updateValue:"message" as tmpRu  %}
            {% endwith %}
        {% endif %}

        $("#btnValiderCloture").click(function () {
            $this=$(this);
            $this.button('loading');
            $.ajax({
                url :"{% url 'cloturerSaison' %}",
                type : "GET",
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#modalCloturer").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#modalCloturer").modal("toggle");
                }
            });

        });
        $("#btnCloturerSaison").click(function () {
            $("#modalCloturer").modal("toggle");
        });
        $("#btnStartSaison").click(function () {
            $("#myModal").modal("toggle");
        });
        $("#btnValider").click(function () {
            $this=$(this);
            $dateFin=$("#dateFin").val();
            $dateDebut=$("#dateDebut").val();
            $comment=$("#comment").val();
            isError=0;
            $("#errorDateFin").text("");
            $("#errorDateDebut").text("");
            if($dateFin=="")
            {
               isError++;
               $("#errorDateFin").text("Veuiller remplir ce champs");
            }
            if($dateDebut=="")
            {
               isError++;
               $("#errorDateDebut").text("Veuiller remplir ce champs");
            }
            if(isError!=0)
            {
                return 0;
            }
            $this.button('loading');

            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url :"{% url 'newSaison' %}",
                type : "POST",
                 beforeSend: function(xhr){xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                data:{"dateDebut":$dateDebut,"dateFin":$dateFin,"comment":$comment},
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#myModal").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#myModal").modal("toggle");
                }
            });

        });
    });
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
</script>
{% endblock %}