{% extends 'layout_adminitrator.html' %}
{% load  app_filters %}
{% load  static %}
{% load  app_filters %}

{% block css %}
     <link rel="stylesheet" href="{% static 'assets/fullcalendar/dist/fullcalendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/calendar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap.css' %}" />
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <h3 class="pull-left" style="text-decoration: underline">Liste Equipes</h3>
                <a href="{% url 'nouvelleEquipe' %}" title="nouvelle" class="pull-right"><i class="fa fa-plus-circle fa-2x"></i></a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr >
                        <th class="text-center" width="20%">LOGO</th>
                        <th class="text-center" width="20%">LIBELLE</th>
                        <th class="text-center" width="20%">SLOGAN</th>
                        <th class="text-center" width="15%">SUSPENDU</th>
                        <th class="text-center" width="25%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipe in equipes %}
                        <tr>
                            <td class="text-center">
                                <img src="/media/{{ equipe.profil.image.serverName }}" class="img-circle" width="60" height="60">
                            </td>
                            <td class="text-center">{{ equipe.libelle}}</td>
                            <td class="text-center">{{ equipe.slogan }}</td>
                            <td class="text-center">
                                {% if equipe.estSuspendu == 1 %}
                                Oui
                                 {% else %}
                                    Non
                                {% endif %}
                            </td>
                            <td>
                                <a title="détail" href="{% url 'DetailEquipe' equipe.id %}"><i class="fa fa-align-justify fa-2x text-success"></i></a>
                                <a title="éditer" href="{% url 'editerEquipe' equipe.id %}"><i class="fa fa-edit fa-2x"></i></a>
                                {% if equipe.estSuspendu == 1 %}
                                    <a title="Activer" href="{% url 'StateEquipe' equipe.id 0 %}"><i class="fa fa-play fa-2x text-success"></i></a>
                                 {% else %}
                                    <a title="Suspendre" href="{% url 'StateEquipe' equipe.id 1 %}"><i class="fa fa-pause fa-2x text-warning"></i></a>
                                {% endif %}

                                <a class="btnSupprimer"   title="supprimer" id="{{ equipe.id }}" href="{% url 'supprimerEquipe' equipe.id %}"><i class="fa fa-trash-o fa-2x text-danger"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        <div class="pull-left">
                        {% if arbitres.has_other_pages %}
                          <ul class="pagination">
                            {% if arbitres.has_previous %}
                              <li><a href="?page={{ arbitres.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in arbitres.paginator.page_range %}
                              {% if arbitres.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                              {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}
                            {% if arbitres.has_next %}
                              <li><a href="?page={{ arbitres.next_page_number }}">&raquo;</a></li>
                            {% else %}
                              <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                          </ul>
                    {% endif %}
                    </div>
        </div>
    </div>
<!-- modal cloturer saison-->
    <div class="modal fade" id="modalCloturer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header " style="background: #428bca;">
                    <br>
                </div>
                <div class="modal-body">
                    <p class="text-center">Êtes vous certain de vouloir continuer cette action?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                    <a href="" type="button" id="btnValiderCloture" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> validation...">Oui</a>
                </div>
            </div>
        </div>
    </div>
<!--end modal cloturer saison-->
{% endblock %}
{% block js %}
     <script src="{% static 'assets/js/notify.min.js'%}"></script>
<script>
    $(function () {

        $(".btnSupprimer").click(function (e) {
            e.preventDefault();
             $this=$(this);
            $("#btnValiderCloture").prop('href',$this.prop('href'));
            $("#modalCloturer").modal("toggle");
        });
        {% if request.session|get_item:"message" %}
             $.notify("{{ request.session|get_item:"message" }}","success");
            {% with request.session|updateValue:"message" as tmpRu  %}
            {% endwith %}
        {% endif %}

        $("#btnValiderCloture").click(function () {
            $this=$(this);
            $this.button('loading');
            $.ajax({
                url :"{% url 'cloturerSaison' %}",
                type : "GET",
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#modalCloturer").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#modalCloturer").modal("toggle");
                }
            });

        });
        $("#btnCloturerSaison").click(function () {
            $("#modalCloturer").modal("toggle");
        });
        $("#btnStartSaison").click(function () {
            $("#myModal").modal("toggle");
        });
        $("#btnValider").click(function () {
            $this=$(this);
            $dateFin=$("#dateFin").val();
            $dateDebut=$("#dateDebut").val();
            $comment=$("#comment").val();
            isError=0;
            $("#errorDateFin").text("");
            $("#errorDateDebut").text("");
            if($dateFin=="")
            {
               isError++;
               $("#errorDateFin").text("Veuiller remplir ce champs");
            }
            if($dateDebut=="")
            {
               isError++;
               $("#errorDateDebut").text("Veuiller remplir ce champs");
            }
            if(isError!=0)
            {
                return 0;
            }
            $this.button('loading');

            var csrftoken = getCookie('csrftoken');
            $.ajax({
                url :"{% url 'newSaison' %}",
                type : "POST",
                 beforeSend: function(xhr){xhr.setRequestHeader("X-CSRFToken", csrftoken);},
                data:{"dateDebut":$dateDebut,"dateFin":$dateFin,"comment":$comment},
                success : function(json)
                {
                    console.log(json);
                    $this.button('reset');
                   $("#myModal").modal("toggle");
                    location.href="{% url 'parametres' %}"
                },
                error :function(xhr,errmsg,err)
                {
                    console.log(xhr);
                    $this.button('reset');
                    $("#myModal").modal("toggle");
                }
            });

        });
    });
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
          }
</script>
{% endblock %}